{% load static from static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Word Count!</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>There are {{ count }}  words in your text</h1>
    <h2>Your Text:</h2>
    <p class="text">{{ fulltext }}</p>

    <h2>Count of each word</h2>
    <p class="word_counts">{% for word, count_total in sorted_dictionary %}</p>



    <h2><em>{{ word }}</em> - <i>{{ count_total }}</i></h2>
    <br />



    {% endfor %}
</body>
</html>